* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f3f1ff;
  width: 100%;
}

/* header-section */
.header-section {
  margin-bottom: 33px;
  border-radius: 5px;
}
.header-section nav {
  width: 100%;
  height: 94px;
  background: #562eff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .logo img {
  width: 40.42px;
  height: 51px;
}

nav .logo > h5 {
  font-weight: 500;
  font-size: 24px;
  color: white;
}
nav .menu-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
nav .menu-items li {
  list-style: none;
}
nav .menu-items li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

nav .menu-items li a img {
  width: 51px;
  height: 51px;
}

/* ______________________________
  Top Player & Blog section 
  ________________________________ */

/* player-container */

.player-blog-section {
  width: 870px;
  background-color: white;
  border-radius: 5px;
  padding: 0 60px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.player-blog-section h1 {
  padding: 33px 0px;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  margin-bottom: 33px;
}
.player-container .players {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.player-container .players img {
  width: 56px;
  height: 56px;
}
.player-container .players > h4 {
  font-weight: 500;
  font-size: 18px;
}

.header-section hr {
  padding: 0 33px;
  color: #d1d1d1;
  border: 1px solid #d1d1d1;
}
/* blog-container */

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  grid-row-gap: 20px;
  padding-bottom: 33px;
}

.blog-container .blogs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.blog-container article{
  padding: 5px 5px;
}
.blog-container .blogs img {
  width: 177px;
  height: 117px;
}
.blog-container .blogs h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.blog-container .blogs p {
  font-weight: 300;
  font-size: 12px;
  color: #9f9f9f;
}
.blog-container .blogs a {
  text-decoration: none;
  color: #562EFF;
}

/* ____________________________
    Course section 
_______________________________*/

.course-section {
  width: 870px;
  background-color: white;
  border-radius: 5px;
  padding: 0 60px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.course-section h1 {
  padding: 33px 0px;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  padding-bottom: 33px;
}
.course-container .course {
  box-shadow: 0.2px 0.2px 2px 0.1px rgb(221, 213, 213);
  border-radius: 5px;
  padding: 10px;
}
.course-container .course img {
  width: 224px;
  height: 104px;
}
.course-container .course-info h3 {
  font-weight: 500;
  font-size: 20.0336px;
  color: #1e1e1e;
}
.course-container .course-info p {
  font-weight: 600;
  font-size: 14.6913px;
  color: #a2a2a2;
}

.course-container .course-info #author {
  font-weight: 400;
  font-size: 14.6913px;
  color: #ed6b4f;
  margin-bottom: 20px;
}
.course-info .course-rating {
  display: flex;
  justify-content: space-between;
}

.course-rating .rating-icon .fa-star {
  color: #ffc014;
  font-size: 13px;
}
.course-rating .rating-icon #empty-star {
  color: #aeaeae;
  opacity: 0.75;
  font-size: 13px;
}
.course-info .clock-icon > p {
  color: #ff4a60;
  background-color: rgba(230, 220, 220, 0.976);
  font-size: 13px;
  border-radius: 15px;
  padding: 2px;
}
